html { 
  background: url('../img/background.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	font-family: "Open Sans Regular", sans-serif;
	text-align: center;
}

h1 {
	color: #598BFF;
	font-family: "Open Sans Bold", sans-serif;
	font-size: 48px;
	margin-bottom: 0;
	margin-left: 5em;
	margin-top: 6em;
}

.header p  {
	color: #4F4D4B;
	font-size: 24px;
	margin-top: 0.5em;
	margin-bottom: 13.5em;
	margin-left: 10em;
}

.button {
	background-color: #50E3C2;
	color: #FBFBFB;
	border-style: none;
	margin-left: 21em;
	border-radius: 0.5em;
}

.button a {
	color: #FBFBFB;
}

#button {
	padding-left: 0;
	margin: 0;
}

#button li {
	display: inline-block;
}

.apple {
	font-size: 3em;
	padding-left: 0.15em;
	display: inline;
}

#button-text {
	list-style-type: none;
	padding-left: 1em;
	padding-right: 0.15em;
}

#button-text li {
	display: block;
}

#app {
	font-size: 1.7em;
}

.footer ul {
	list-style-type: none;
	padding-left: 0;
	margin-top: 0;
	margin-left: 14.5em;
}

.footer li {
	display: inline-block;
}

.footer a {
	font-size: 28;
	color: #4F4D48;
	text-decoration: none;
}